body{
  background-image: url(https://e1.pxfuel.com/desktop-wallpaper/754/592/desktop-wallpaper-abstract-and-hazy-and-mobile-backgrounds-hazy.jpg);
  background-size: cover;
}

#profile{
  display: block;
  margin: 2.5% auto;
  height: 200px;
  text-align: center;
  border-radius: 50%;
}

.center{
  display: block;
  text-align: center;
  margin: auto;
}

#btn-group{
  width: 50%;
  margin: 2.5% auto;
}

button{
 margin-bottom: 5%;
 height: 75%;
}

#instagram, #tiktok, #reddit,#youtube{
  width: 5%;
}
